<ion-view view-title="Client Profile">
    <ion-content class="has-footer">
        <!--this card contains the user profile infomration-->
                <div class="card">
                    <!--user name and profile pic displayed here -->
                    <div class="item item-avatar">
                        <img ng-src="../img/etienne.jpg">
                        <h2>Etienne de Bruin</h2>
                        
                    </div>
                    <!--user details in the card body here-->
                    <div class="item item-body">
                        <p>
                             
                            <b>Phone Number</b> (123) 456-7890<br> 
                            <b>Email</b> etdebruin@gmail.com
                        </p>
                    </div>
                </div>
                
        
            <p class="padding"> You have seen Etienne 13 times.<br><br>
            <b>Upcoming Sessions:</b><br>
            9:00am, Tuesday, October 20th, 2016<br>
            9:00am, Tuesday, October 27th, 2016<br><br>
            
            <b>Etienne wants to take about these things soon:</b><br>
            My nightmares<br>
            What to tell my kid?</p>
    
    </ion-content>
</ion-view>