<ion-view view-title="Clients">
    <ion-content class="has-footer">
        <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div><br><br>

<div class="list list-inset">
            <div class="item">Etienne de Bruin</div>
            <div class="item">Renee Lewis</div>
            <div class="item">Mark Maxwell</div>
            <div class="item">Ben Patrick</div>
            <div class="item">Asha Noonan</div>
            <div class="item">Oscar Miranda</div>
            <div class="item">Jadon Parker</div>
        
        </div>
    
    </ion-content>
</ion-view>