<ion-view view-title="Clients">
     <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-home" ui-sref="TherapistLanding">
            
        </button>
    </ion-nav-buttons>
    <ion-content>
        
        
        <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div><br>

<center> <button class="button button-balanced" ui-sref='/addNewClient'>
 <i class="ion-ios-plus-empty"> Add New Client</i>
</button></center>

<div class="list list-inset">
            <div class="item" ui-sref='/clientProfile'>Etienne de Bruin</div>
            <div class="item">Renee Lewis</div>
            <div class="item">Mark Maxwell</div>
            <div class="item">Ben Patrick</div>
            <div class="item">Asha Noonan</div>
            <div class="item">Oscar Miranda</div>
            <div class="item">Jadon Parker</div>
        
        </div>
    
   
    </ion-content>
</ion-view>