<ion-view view-title="History">
    <ion-content class="has-footer">
        <!--this card contains the user profile infomration-->
                
                <div class="card">
                    <!--user name and profile pic displayed here -->
                    <div class="item item-avatar">
                        <img ng-src="../img/etienne.jpg">
                        <h2>Etienne de Bruin</h2>
                        
                    </div>
                    <!--user details in the card body here-->
                    <div class="item item-body">
                        <p>
                             
                            <b>Phone Number</b> (123) 456-7890<br> 
                            <b>Email</b> etdebruin@gmail.com <br>
                            <b>Insured by</b> Blue Cross <br>
                            
                        </p>
                    </div>
                </div>
                
    
            <p class="padding">You have seen Etienne 13 Times:<br><br>
            <b>Past Appointments Sessions:</b><br><br>
            08/04/2016 Tuesday 4pm<br>
            08/05/2016 Wednesday 4pm<br>
            08/06/2016 Thursday 4pm<br>
            08/10/2016 Monday 4pm<br>
            08/12/2016 Wednesday 4pm<br>
            08/14/2016 Friday 4pm<br>
            08/27/2016 Monday 4pm<br>
            08/30/2016 Friday 4pm<br>
            09/05/2016 Tuesday 4pm<br>
            09/12/2016 Monday 4pm<br>
            09/15/2016 Tuesday 4pm<br>
            09/29/2016 Wednesday 4pm<br>
            10/20/2016 Friday 4pm<br>
            
    </ion-content>
</ion-view>