<ion-view view-title="TherapistLanding">
    <ion-content class="has-footer">
        <center><h1>Welcome, Kathryn!</h1><br>
        <p>Here are todays appointments:</p><br><br>
        <div class="list list-inset">
            <div class="item">9:00am  Ben Patrick</div>
            <div class="item">11:30am Mark Maxwell</div>
            <div class="item">1:30pm  Renee Lewis</div>
            <div class="item">3:00pm  Etienne de Bruin</div>
        </div><br>
        
        <p>Calendar | Booking</p>
        </center>
        <br><br><br>
    </ion-content>
</ion-view>