<ion-view view-title="My Profile" hide-back-button="false">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-edit" ui-sref="/editMyProfile">
            
        </button>
    </ion-nav-buttons>
    <ion-content>

            
                <!--this card contains the user profile infomration-->
                <div class="card">
                    <!--user name and profile pic displayed here -->
                    <div class="item item-avatar">
                        <img ng-src="../img/kathryn.jpg">
                        <h2>Kathryn de Bruin</h2>
                    </div>
                    <!--user details in the card body here-->
                    <div class="item item-body">
                        <p>
                            <b>Phone Number</b><br>(619) 555-4434<br> 
                            <b>Email</b><br>therapy@kathryndebruin.com
                        </p>
                    </div>
                </div>
                
                 <!--this card contains the user room reservations information-->
                <div class="card">
                 
                    
                    
                        <a href="#" class="item item-icon-left">
    <i class="icon ion-clock"></i>
    My Reservations
  </a>

<a href="#" class="item item-icon-left">
    
    <b>10/25/2016</b></a>

  <a href="#" class="item item-icon-left">
    
    <b>Office A</b><br>9:00am, Ben Patrick
  </a>

  <a href="#" class="item item-icon-left">
   <b>Office B</b><br>11:30am, Mark Maxwell
  </a>

  <a href="#" class="item item-icon-left">
    <b>Office B</b><br>1:30pm, Renee Lewis
  </a>
  
  <a href="#" class="item item-icon-left">
    <b>Office A</b><br>3:00pm, Etienne de Bruin
  </a>
                    </div>
                    </div>
                </div>
                
            
                
    </ion-content>
    </ion-vew>