<ion-view view-title="Welcome">
    <ion-content class="has-footer">
        <center><h1>Welcome, Etienne!</h1><br>
        <p>Your next appointment is on Monday, October 3rd 2016 </p><br><br>
        <ui-sref>Reschedule</ui-sref>
        </center>
        <br><br><br>
        
        <ion-tabs class="tabs-balanced tabs-icon-top">

  <ion-tab title="Sessions" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" ui-sref="ClientLanding">
     <!--Tab 1 content -->
  </ion-tab>

  <ion-tab title="To-do" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="ClientTodo">
     <!--Tab 2 content -->
  </ion-tab>

  <ion-tab title="Me" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="ClientMyProfile">
     <!--Tab 3 content -->
  </ion-tab>

</ion-tabs>
        
    
    </ion-content>
</ion-view>