<ion-view view-title="To Do">
    <ion-content class="has-footer">
        <center><br>
        <p>A list of things you would like to discuss with Kathryn at your next session:</p><br><br>
        </center>
        <form action="" class="padding">
<input type="checkbox"/>My nightmare<br>
<input type="checkbox"/>A question about my kid<br>
<input type="checkbox"/>Which books to read<br>
<input type="checkbox"/>Going on vacation
</form>
<br>
<center><button class="button button-balanced">
  Add Item
</button></center>
    
    
    </ion-content>
</ion-view>